<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <title>Juan Blog</title>
    <!-- CSS Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
          crossorigin="anonymous">
</head>
<body>

    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">juan Blog</a>
                </div>
            </nav>
        </div>

    </header>

    <section>
        <div class="container" style="width:60%; padding-bottom:30px;">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" style="background-color:withe; padding-left: 0px;">
                    <li class="breadcrumb-item active" aria-current="page">Post</li>
                </ol>
            </nav>


            <div class="card shadow-sm bg white rounded" style="margin-top:20px;">
                <div class="card-body">
                    Teste
                </div>
            </div>


        </div>

    </section>

</body>
</html>